<div class="postjob" style="height: 600px; width: 100%;">
    <div class="container-fluid">
        <nav class=" mt-1 navbar navbar-expand-lg  navbar-dark danger-color rounded" style="height: 60px;">
          <!-- Brand -->
          
          <!-- Links -->
          
        </nav>
      </div>
    <div class="container mt-5 ">
        <div class="row">
            <!-- <div *ngIf="postedMsg;else alreadyposted">
                <div class="alert alert-success"><strong>{{postedMsg}}</strong></div>
                <ng-template #alreadyposted>
                    <div class="alert alert-danger"><strong>{{alreadyposted}}</strong></div>
                </ng-template>
            </div> -->
            
            <div class="col-md-12">
                <form class="form-horizontal" ngNativeValidate (ngSubmit)="jobPostForm()"  [formGroup]="form">
                    <div class=" form-group">
                        <label for="jobrole" class="col-sm-3 control-label"><b>JobRole</b></label>
                        <input type="text" name="jobrole" id="jobrole" formControlName="jobrole" class="form-control" placeholder="JOBROLE" [(ngModel)]="jobpost.jobrole" required >
                    </div>
                    <div class=" form-group">
                        <label for="experiance" class="col-sm-3 control-label"><b>Experience</b></label>
                        <input type="text" name="experiance" id="experiance" formControlName="experiance" class="form-control" placeholder="Experience in years" [(ngModel)]="jobpost.experiance" required>
                    </div>
                    <div class=" form-group">
                        <label for="skills" class="col-sm-3 control-label"><b>Skills</b></label>
                        <input type="text" name="skills" id="skills" formControlName="skills" class="form-control" placeholder="Skills" [(ngModel)]="jobpost.skills" required>
                    </div>
                    <div class=" form-group">
                        <label for="education" class="col-sm-3 control-label"><b>Education</b></label>
                        <input type="text" name="education" id="education" formControlName="education" class="form-control" placeholder="Education"  [(ngModel)]="jobpost.education" required >
                    </div>
                    <div class=" form-group">
                        <label for="jobDescription" class="col-sm-3 control-label"><b>Job Description</b></label>
                        <input type="text" name="jobdesc" id="jobdesc" formControlName="jobdesc" class="form-control" placeholder="Description" [(ngModel)]="jobpost.jobdesc" required >
                    </div>
                    <div class=" form-group">
                        <label for="lastDate" class="col-sm-3 control-label"><b>Last date to apply</b></label>
                        <input type="text" name="lastdate" id="lastdate" formControlName="lastdate" class="form-control" placeholder="Last Date" [(ngModel)]="jobpost.lastdate" required >
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3"><b>JobType</b></label>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="radio-inline">
                                        <input type="radio" id="internship" name="jobtype" value="Internship" formControlName="jobtype" [(ngModel)]="jobpost.jobtype" >Internship
                                    </label>
                                </div>
                                <div class="col-sm-4">
                                    <label class="radio-inline">
                                        <input type="radio" checked id="permanent" name="jobtype" formControlName="jobtype" value="Full-Time" [(ngModel)]="jobpost.jobtype" >Full Time
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <br>
                    <div class="form-group">
                        <button class="btn btn-success form-control" ><strong>Post Job</strong></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    
</div>